.profilePic {
  padding-right: 2%;
  padding-bottom: 20px;
}

.personalInfo {
  padding-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-title {
  padding-top: 20px;
  font-family: "Roboto Mono", monospace;
}
